<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="head :: headFragment"></th:block>

<body class="@@dashboard">

    <div id="preloader"><i>.</i><i>.</i><i>.</i></div>

    <div id="main-wrapper" class="admin">

       <th:block th:replace="sidebar :: sidebarFragment"></th:block>

        <div class="content-body">
            <div class="container">
                <div class="page-title">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-6">
                            <div class="page-title-content">
                                <h3>Wallet</h3>
                                <p class="mb-2">Welcome Neftify Wallet page</p>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="breadcrumbs"><a href="#">Home </a><span><i
                                        class="ri-arrow-right-s-line"></i></span><a href="#">Wallet</a></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <h4 class="card-title mb-3">Balance Details</h4>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="total-balance">
                                            <p>Total Balance</p>
                                            <h2 th:text="|$${#numbers.formatInteger(wallet.balance, 0, 'COMMA')}|"></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-primary" th:href="@{/wallet/charge(id=${wallet.id})}">charge</a>
                    </div>

                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="card-header px-0 pt-0">
                            <h4 class="card-title">Latest Transaction</h4><a href="#">See More</a>
                        </div>
                        <div class=" top-creators-content">
                            <div class="d-flex justify-content-between creator-widget active  align-items-center">
                                <div class="d-flex align-items-center">
                                    <div class="top-creators-user-img me-3"><img src="/static/images/items/item_1.png" alt=""
                                            width="60"></div>
                                    <div class="top-creators-info">
                                        <h5 class="mb-0">Terry Camacho</h5>
                                        <p class="mb-2">60 Items</p>
                                    </div>
                                </div>
                                <div class="text-end">
                                    <h5 class="text-primary">0.2658 ETH</h5>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between creator-widget active  align-items-center">
                                <div class="d-flex align-items-center">
                                    <div class="top-creators-user-img me-3"><img src="/static/images/items/item_1.png" alt=""
                                            width="60"></div>
                                    <div class="top-creators-info">
                                        <h5 class="mb-0">Terry Camacho</h5>
                                        <p class="mb-2">60 Items</p>
                                    </div>
                                </div>
                                <div class="text-end">
                                    <h5 class="text-primary">0.2658 ETH</h5>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between creator-widget active  align-items-center">
                                <div class="d-flex align-items-center">
                                    <div class="top-creators-user-img me-3"><img src="/static/images/items/item_1.png" alt=""
                                            width="60"></div>
                                    <div class="top-creators-info">
                                        <h5 class="mb-0">Terry Camacho</h5>
                                        <p class="mb-2">60 Items</p>
                                    </div>
                                </div>
                                <div class="text-end">
                                    <h5 class="text-primary">0.2658 ETH</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-8 col-xl-8 col-lg-6">
                        <h4 class="card-title mb-3">Investment</h4>
                        <div class="card">
                            <div class="card-body">
                                <div class="chartjs-size-monitor">
                                    <div class="chartjs-size-monitor-expand">
                                        <div class=""></div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink">
                                        <div class=""></div>
                                    </div>
                                </div><canvas height="300" width="920" id="activity"
                                    style="display: block; width: 920px; height: 300px;"
                                    class="chartjs-render-monitor"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class=" col-xxl-4 col-xl-4 col-lg-6">
                        
                    </div>
                </div>
            </div>
        </div>


    </div>



    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>






    <script src="/static/vendor/chartjs/chart.bundle.min.js"></script>


    <script src="/static/js/plugins/chartjs-line-init.js"></script>











    <script src="/static/js/scripts.js"></script>


</body>

</html>