<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="head :: headFragment"></th:block>

<body class="@@dashboard">

<th:block th:replace="header :: headerFragment"></th:block>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="search">
                            <form th:action="@{/collections/search}" method="get" ><span><i class="ri-search-line"></i></span>
                                    <input type="text" placeholder="Search Here" name="keyword" >
                            </form>
                        </div>
                        <div class="filter-tab">
                            <div class="filter-nav mb-4"><a th:href="@{/collections}">All</a> <a th:href="@{/categories/1/collections}"> Games </a><a th:href="@{/categories/2/collections}">Artwork</a><a th:href="@{/categories/3/collections}">Collectibles</a><a th:href="@{/categories/4/collections}">Photography</a></div>
                            <div class="row">
                                <div class="col-xxl-10 col-xl-9 col-lg-9 col-md-9">
                                    <div class="row">
                                        <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6" th:each="collection : ${collections}">
                                            <div th:onclick="|location.href='@{/collections/{id}/nfts(id=${collection.collectionId})}'|" style="cursor: pointer;">
                                                <div class="card items">
                                                    <div class="card-body">
                                                        <div class="items-img position-relative">
                                                            <img th:src="|${collection.logoImgUrl}|" class="img-fluid rounded mb-3" alt="">
                                                        </div>
                                                        <a href="/collection.html">
                                                            <h4 class="card-title" th:text="${collection.name}"></h4>
                                                        </a>
                                                        <p></p>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="text-start">
                                                                <p class="mb-2">description</p>
                                                                <h5 class="text-muted" th:text="${collection.desc}"></h5>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
<div class="bottom section-padding triangle-top-dark triangle-bottom-dark">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-7 col-sm-8">
                <div class="bottom-logo">
                    <p>SomSea is a unique and beautiful collection of UI elements that are all flexible and
                        modular. A
                        complete and customizable solution to building the website of your dreams.</p>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-5 col-sm-4 col-6">
                <div class="bottom-widget">
                    <h4 class="widget-title">About us</h4>
                    <ul>
                        <li><a th:href="@{/index}">Explore</a></li>
                        <li><a th:href="@{/nfts}">Item</a></li>
                        <li><a th:href="@{/collections}">Collection</a></li>
                        <li><a th:href="@{/user/add}">Connect</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="bottom-widget">
                    <h4 class="widget-title">Settings</h4>
                    <ul>
                        <li><a href="./settings.html">Settings</a></li>
                        <li><a href="./application.html">Application</a></li>
                        <li><a href="./security.html">Security</a></li>
                        <li><a href="./activity.html">Activity</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-8 col-sm-8">
                <div class="bottom-widget">
                    <h4 class="widget-title">Profile</h4>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <ul>
                                <li><a href="./profile.html">Profile</a></li>
                                <li><a href="./created.html">Created</a></li>
                                <li><a href="./collected.html">Collected</a></li>
                                <li><a href="./activity.html">Activity</a></li>
                            </ul>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <ul>
                                <li><a href="./onsale.html">On Sale</a></li>
                                <li><a href="./liked.html">Liked</a></li>
                                <li><a href="./following.html">Following</a></li>
                                <li><a href="./followers.html">Followers</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="copyright">
                    <p>© Copyright 2022 <a href="#">SomSea</a> <!-- -->All Rights Reserved</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="footer-social">
                    <ul>
                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                        <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                        <li><a href="#"><i class="bi bi-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<th:block th:replace="footer :: footerFragment"></th:block>
</body>

</html>