<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Somsea</title>
    <meta name="description"
        content="Neftify is the complete UX & UI dashboard for NFT. Here included bids, collection, wallet, and all user setting pages including profile, application, activity, payment method, api, sign in & sign up etc.">


    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/static/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
</head>

<body class="@@dashboard">

    <div id="preloader"><i>.</i><i>.</i><i>.</i></div>

    <div id="main-wrapper" class="front">

        <div class="header landing">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="navigation">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <div class="brand-logo">
                                    <a href="/static">
                                        <img th:src="@{/static/images/logo.png}" alt="" class="logo-primary">
                                        <img th:src="@{/static/images/logow.png}" alt="" class="logo-white">
                                    </a>
                                </div>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item dropdown"><a class="nav-link" href="/index.html">Home</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="/explore.html">Explore</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/item.html">Item</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/collection.html">Collection</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="/profile.html">Profile</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/upload.html">Upload</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/dashboard.html">Dashboard</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="signin-btn d-flex align-items-center">
                                    <div class="dark-light-toggle theme-switch" onclick="themeToggle()">
                                        <span class="dark"><i class="ri-moon-line"></i></span>
                                        <span class="light"><i class="ri-sun-line"></i></span>
                                    </div>

                                    <a class="btn btn-primary" href="/connect.html">Connect</a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-title">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-6">
                        <div class="page-title-content">
                            <h3>Add Auction</h3>
                            <p class="mb-2">Somsea add auction page</p>
                        </div>
                    </div>
                    <!-- <div class="col-auto">
                        <div class="breadcrumbs"><a href="#">Home </a><span><i
                                    class="ri-arrow-right-s-line"></i></span><a href="#">Payments</a></div>
                    </div> -->
                </div>
            </div>
        </div>


        <div class="upload-item section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <h4 class="card-title mb-3">Upload Auction</h4>
                        <div class="card">
                            <div class="card-body">
                                <form th:action="@{/auction/add}" method="post">
                                    <div class="row">
                           
                                        <div class="col-12 mb-3">
                                        	<h5>NftId</h5>
                                            <span class="form-label" th:text="${auctionDto.nftId}">AuctionDto nftId</span>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label class="form-label">StartPrice</label><input name="startPrice"
                                                type="text" class="form-control">
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label class="form-label">DueDate</label><input name="dueDate"
                                                type="text" placeholder="yyyy-MM-dd HH:mm 형식으로 작성하세요!" class="form-control">
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <button type="submit" class="btn btn-primary mr-2 w-100">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/scripts.js"></script> 


</body>

</html>