<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">>
<th:block th:replace="head :: headFragment"></th:block>
<body class="@@dashboard">
	<th:block th:replace="header :: headerFragment"></th:block>
        <div class="page-title">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-6">
                        <div class="page-title-content">
                            <h3>Add Auction</h3>
                            <p class="mb-2">Somsea add auction page</p>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>


        <div class="upload-item section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <h4 class="card-title mb-3">Upload Auction</h4>
                        <div class="card">
                            <div class="card-body">
                                <form th:action="@{/auction/add}" th:object="${auctionDto}" method="post">
                                    <div class="row">
                                        
                                        <div class="col-12 mb-3">
                                            <h5>NftId</h5>
                                             <span class="form-label" th:text="*{nftId}">AuctionDto nftId</span>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label class="form-label">StartPrice</label>
                                            	<input name="startPrice" th:field="*{startPrice}" type="text" class="form-control">
                                            	<p th:if="${#fields.hasErrors('startPrice')}" th:errors="*{startPrice}" style="color: red"></p>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label class="form-label">DueDate</label><input name="dueDate"
                                                type="text" th:field="*{dueDate}" placeholder="yyyy-MM-dd HH:mm 형식으로 작성하세요!" class="form-control">
                                                <p th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}" style="color: red"></p>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <button type="submit" class="btn btn-primary mr-2 w-100">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
	<th:block th:replace="footer :: footerFragment"></th:block>
</body>

</html>