<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<form th:action="@{/user/login}" method="POST"> 
  <div>
      <input id="email" type="email" name="username" class="validate"/>
      <label for="email">Email</label>
  </div>
  <div>
      <input id="password" type="password" name="password" class="validate"/>
      <label for="password">Password</label>
  </div>
  <input type="submit" value="로그인" />
</form>
</body>
</html>