<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="head :: headFragment"></th:block>

<body class="@@dashboard">

    <div id="preloader"><i>.</i><i>.</i><i>.</i></div>

    <div id="main-wrapper" class="admin">

        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="header-content">
                            <div class="header-left">
                                <div class="brand-logo"><a class="mini-logo" href=""><img th:src="@{/static/images/logoi.png}"
                                                                                                                           alt="" width="40"></a></div>
                                <div class="search">
                                    <form action="#"><span><i class="ri-search-line"></i></span><input type="text"
                                            placeholder="Search Here"></form>
                                </div>
                            </div>
                            <div class="header-right">
                                <!-- <div class="theme-switch"><i class="ri-sun-line"></i></div> -->

                                <div class="dark-light-toggle theme-switch" onclick="themeToggle()">
                                    <span class="dark"><i class="ri-moon-line"></i></span>
                                    <span class="light"><i class="ri-sun-line"></i></span>
                                </div>


                                <div class="nav-item dropdown notification dropdown">
                                    <div data-bs-toggle="dropdown">
                                        <div class="notify-bell icon-menu"><span><i
                                                    class="ri-notification-2-line"></i></span>
                                        </div>
                                    </div>
                                    <div tabindex="-1"
                                        class="dropdown-menu notification-list dropdown-menu dropdown-menu-end">
                                        <h4>Recent Notification</h4>
                                        <div class="lists">
                                            <a class="" href="#">
                                                <div class="d-flex align-items-center"><span
                                                        class="me-3 icon success"><i class="ri-check-line"></i></span>
                                                    <div>
                                                        <p>Account created successfully</p><span>2020-11-04
                                                            12:00:23</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="" href="#">
                                                <div class="d-flex align-items-center"><span class="me-3 icon fail"><i
                                                            class="ri-close-line"></i></span>
                                                    <div>
                                                        <p>2FA verification failed</p><span>2020-11-04 12:00:23</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="" href="#">
                                                <div class="d-flex align-items-center"><span
                                                        class="me-3 icon success"><i class="ri-check-line"></i></span>
                                                    <div>
                                                        <p>Device confirmation completed</p><span>2020-11-04
                                                            12:00:23</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="" href="#">
                                                <div class="d-flex align-items-center"><span
                                                        class="me-3 icon pending"><i
                                                            class="ri-question-mark"></i></span>
                                                    <div>
                                                        <p>xs verification pending</p><span>2020-11-04 12:00:23</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#">More<i class="ri-arrow-right-s-line"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown profile_log dropdown">
                                    <div data-bs-toggle="dropdown">
                                        <div class="user icon-menu active"><span><img th:src="@{/static/images/avatar/9.jpg}"
                                                    alt=""></span>
                                        </div>
                                    </div>
                                    <div tabindex="-1" class="dropdown-menu dropdown-menu-end">
                                        <div class="user-email">
                                            <div class="user">
                                                <span class="thumb">
                                                    <img th:src="@{/static/images/profile/3.png}" alt="">
                                                </span>
                                                <div class="user-info">
                                                    <h5>Jannatul Maowa</h5>
                                                    <span>imsaifun@gmail.com</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="dropdown-item" href="/profile.html">
                                            <span><i class="ri-user-line"></i></span>Profile
                                        </a>
                                        <a class="dropdown-item" href="/wallet.html">
                                            <span><i class="ri-wallet-line"></i></span>Wallet
                                        </a>
                                        <a class="dropdown-item" href="/settings-profile.html">
                                            <span><i class="ri-settings-3-line"></i></span>Settings
                                        </a>
                                        <a class="dropdown-item" href="/settings-activity.html">
                                            <span><i class="ri-time-line"></i></span>Activity
                                        </a>
                                        <a class="dropdown-item" href="/lock.html">
                                            <span><i class="ri-lock-line"></i></span>Lock
                                        </a>
                                        <a class="dropdown-item logout" href="/signin.html">
                                            <i class="ri-logout-circle-line"></i>Logout
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <div class="brand-logo"><a class="full-logo" href="/dashboard.html"><img th:src="@{/static/images/logo.png}"
                                                                                                                      alt=""></a></div>
            <div class="menu">
                <ul>
                    <li>
                        <a href="/dashboard.html">
                            <span><i class="ri-layout-grid-fill"></i></span>
                            <span class="nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/bids.html">
                            <span><i class="ri-briefcase-line"></i></span>
                            <span class="nav-text">Bids</span></a>
                    </li>
                    <li class="">
                        <a href="./saved.html">
                            <span><i class="ri-heart-line"></i></span>
                            <span class="nav-text">Saved</span></a>
                    </li>
                    <!-- <li class="">
                <a href="./collection.html">
                    <span><i class="ri-star-line"></i></span>
                    <span class="nav-text">Collection</span></a>
            </li> -->
                    <li class="">
                        <a href="/wallet.html">
                            <span><i class="ri-wallet-line"></i></span>
                            <span class="nav-text">Wallet</span></a>
                    </li>
                    <!-- <li class="">
                <a href="./profile.html">
                    <span><i class="ri-account-box-line"></i></span>
                    <span class="nav-text">Profile</span></a>
            </li> -->
                    <li class="">
                        <a href="/settings-profile.html">
                            <span><i class="ri-settings-3-line"></i></span>
                            <span class="nav-text">Settings</span></a>
                    </li>
                    <li class=" logout"><a href="/signin.html">
                            <span><i class="ri-logout-circle-line"></i></span>
                            <span class="nav-text">Signout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content-body">
            <div class="container">
                <div class="page-title">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-6">
                            <div class="page-title-content">
                                <h3>Saved Items</h3>
                                <p class="mb-2">Welcome Neftify Saved page</p>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="breadcrumbs"><a href="#">Home </a><span><i
                                        class="ri-arrow-right-s-line"></i></span><a href="#">Saved</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="filter-tab">
                        <div class="row">
                            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6"  th:each="nft : ${nfts}">
                                <div class="card items">
                                    <div class="card-body">
                                        <div class="items-img position-relative">
                                            <img th:src="|${nft.imageUrl}|" class="img-fluid rounded mb-3" alt="">
                                        </div>
                                        <a href="/item.html">
                                            <h4 class="card-title" th:text="${nft.nftTitle}"></h4>
                                        </a>
                                        <p></p>
                                        <div class="d-flex justify-content-between">
                                            <div class="text-start">
                                                <p class="mb-2">token standard</p>
                                                <h5 class="text-muted" th:text="${nft.tokenStandard}"></h5>
                                            </div>
                                            <div class="text-end">
                                                <p class="mb-2">blockChain</p>
                                                <h5 class="text-muted" th:text="${nft.blockChain}"></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <th:block th:replace="footer :: footerFragment"></th:block>
</body>

</html>