<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="head :: headFragment"></th:block>
<body class="@@dashboard">

<div id="preloader"><i>.</i><i>.</i><i>.</i></div>


<div id="main-wrapper" class="admin">

    <th:block th:replace="sidebar :: sidebarFragment"></th:block>

    <div class="content-body">
        <div class="container">
            <div class="page-title">
                <div class="row align-items-center justify-content-between">
                    <div class="col-6">
                        <div class="page-title-content">
                            <h3>Profile</h3>
                            <p class="mb-2">Welcome Neftify Settings Profile page</p>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="breadcrumbs"><a href="#">Settings </a><span><i
                                    class="ri-arrow-right-s-line"></i></span><a href="#">Profile</a></div>
                    </div>
                </div>
            </div>
            <ul class="settings-menu">
                <li><a href="./settings-profile.html">Profile</a></li>
                <li class=""><a href="./settings-application.html">Application</a></li>
                <li class=""><a href="./settings-security.html">Security</a></li>
                <li class=""><a href="./settings-activity.html">Activity</a></li>
                <li class=""><a href="./settings-payment-method.html">Payment Method</a></li>
                <li class=""><a href="./settings-api.html">API</a></li>
            </ul>
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <h4 class="card-title mb-3">User Profile</h4>
                    <div class="card">
                        <div class="card-body">
                            <form th:object="${user}" th:action="@{/user/update/1}" method="post">
                                <div class="row">
                                	<div class="col-12 mb-3"><label class="form-label">Full Name</label><input
                                            th:field="*{name}" type="text" class="form-control"></div>
                                    <div class="col-xxl-12">
                                        <div class="d-flex align-items-center mb-3"><img
                                                class="me-3 rounded-circle me-0 me-sm-3" src="images/profile/3.png"
                                                width="55" height="55" alt="">
                                            <div class="media-body">
                                                <h4 class="mb-0">Jannatul Maowa</h4>
                                                <p class="mb-0">Max file size is 20mb</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12"><input name="photo" type="file" class="" ></div>
                                </div>
                                <div class="mt-3"><button type="submit" class="btn btn-primary mr-2">Save</button></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <h4 class="card-title mb-3">Update Profile</h4>
                    <div class="card">
                        <div class="card-body">
                            <form th:object="${user}" th:action="@{/user/update/2}" method="post">
                                <div class="row">
                                    <div class="col-12 mb-3"><label class="form-label">Email</label><input name="email"
                                            type="email" class="form-control" th:field="*{email}"></div>
                                    <div class="col-12 mb-3"><label class="form-label">Password</label><input
                                            name="password" type="password" class="form-control" th:field="*{password}"></div>
                                </div>
                                <div class="mt-3"><button type="submit" class="btn btn-primary mr-2">Save</button></div>
                            </form>
                        </div>
                    </div>
                </div>
                
                
            </div>
            <a th:href="@{/user/delete}"
                                class="btn btn-danger">탈퇴</a>
        </div>
    </div>


</div>



<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

















<script src="/static/js/scripts.js"></script>


</body>

</html>