<!DOCTYPE html>
<html lang="en">

<th:block th:replace="head :: headFragment"></th:block>

<body class="@@dashboard">

<div id="preloader"><i>.</i><i>.</i><i>.</i></div>

<div class="authincation section-padding">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-xl-5 col-md-6">
                <div class="mini-logo text-center my-4"><a th:href="@{/}"><img src="/static/images/logo.png" alt=""></a>
                    <h4 class="card-title mt-5">Sign up to Neftify</h4>
                </div>
                <div class="auth-form card">
                    <div class="card-body">
                        <form th:action="@{/user/add}" th:object="${user}" method="post">
                            <div class="row">
                                <div class="col-12 mb-3"><label class="form-label">Full Name</label><input
                                        name="name" type="text" id="name" th:field="*{name}" class="form-control" value=""></div>
                                <div class="col-12 mb-3"><label class="form-label">Email</label><input
                                        type="email" id="email" th:field="*{email}" class="form-control" value=""></div>
                                <div class="col-12 mb-3"><label class="form-label">Password</label><input
									type="password" id="password" th:field="*{password}" class="form-control" value=""></div>
                                <!-- <div class="col-12">
                                    <div class="form-check"><input name="acceptTerms" type="checkbox"
                                            class="form-check-input " value="false"><label class="form-check-label">I
                                            certify that I am 18 years of age or older, and agree to the <a href="#"
                                                class="text-primary">User Agreement</a> and <a href="#"
                                                class="text-primary">Privacy Policy</a>.</label></div>
                                </div> -->
                            </div>
                            <div class="mt-3 d-grid gap-2"><button type="submit" class="btn btn-primary mr-2">Sign
                                    Up</button></div>
                        </form>
                        <div class="text-center">
                            <p class="mt-3 mb-0"><a class="text-primary" th:href="@{/user/login}">Sign in</a>to your account</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/static/js/scripts.js"></script>

</body>

</html>