<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="head :: headFragment"></th:block>
<body class="@@dashboard">
    <th:block th:replace="header :: headerFragment"></th:block>
        <div class="intro1 section-padding">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-5 col-lg-6 col-12">
                        <div class="intro-content  my-5">
                            <h1 class="mb-3">Discover, collect, and sell<span> extraordinary NFTs</span></h1>
                            <p>on NFT marketplace SomSea</p>
                            <div class="intro-btn mt-5">
                                <a class="btn btn-primary" th:href="@{/collections}">Explore<i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                            <a class="more c-pointer d-inline-flex popup-youtube"
                                href="https://www.youtube.com/watch?v=7e90gBu4pas">
                                <span><i class="bi bi-play-fill"></i></span>
                                Learn more about SomSea</a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-12">
                        <div class="intro-slider">
                            <div class="slider-item"><img th:src="@{./static/images/items/1.png}" alt="" class="img-fluid">
                                <div class="slider-item-avatar">
                                    <div>
                                        <h5>DongDuk</h5>
                                        <p>Dustle</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="trending-category section-padding bg-light triangle-top-light triangle-bottom-light">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-title text-center d-flex justify-content-between mb-3">
                            <h2>Trending Items</h2>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="card items">
                            <div class="card-body">
                                <div class="items-img position-relative">
                                    <img th:src="@{./static/images/items/5.png}" class="img-fluid rounded mb-3" alt="">
                                </div>
                                <a href="./item.html">
                                    <h4 class="card-title">Dummy</h4>
                                </a>
                                <p></p>
                                <div class="d-flex justify-content-between">
                                    <div class="text-start">
                                        <p class="mb-2">token standard</p>
                                        <h5 class="text-muted">ERC_721</h5>
                                    </div>
                                    <div class="text-end">
                                        <p class="mb-2">blockChain</p>
                                        <h5 class="text-muted">ETHEREUM</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="card items">
                            <div class="card-body">
                                <div class="items-img position-relative">
                                    <img th:src="@{./static/images/items/6.png}" class="img-fluid rounded mb-3" alt="">
                                </div>
                                <a href="./item.html">
                                    <h4 class="card-title">Dongduk</h4>
                                </a>
                                <p></p>
                                <div class="d-flex justify-content-between">
                                    <div class="text-start">
                                        <p class="mb-2">token standard</p>
                                        <h5 class="text-muted">ERC_721</h5>
                                    </div>
                                    <div class="text-end">
                                        <p class="mb-2">blockChain</p>
                                        <h5 class="text-muted">ETHEREUM</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="card items">
                            <div class="card-body">
                                <div class="items-img position-relative">
                                    <img th:src="@{./static/images/items/7.png}" class="img-fluid rounded mb-3" alt="">
                                </div>
                                <a href="./item.html">
                                    <h4 class="card-title">SomeSome</h4>
                                </a>
                                <p></p>
                                <div class="d-flex justify-content-between">
                                    <div class="text-start">
                                        <p class="mb-2">token standard</p>
                                        <h5 class="text-muted">ERC_721</h5>
                                    </div>
                                    <div class="text-end">
                                        <p class="mb-2">blockChain</p>
                                        <h5 class="text-muted">ETHEREUM</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="card items">
                            <div class="card-body">
                                <div class="items-img position-relative">
                                    <img th:src="@{./static/images/items/8.png}" class="img-fluid rounded mb-3" alt="">
                                </div>
                                <a href="./item.html">
                                    <h4 class="card-title">SomSomi</h4>
                                </a>
                                <p></p>
                                <div class="d-flex justify-content-between">
                                <div class="text-start">
                                    <p class="mb-2">token standard</p>
                                    <h5 class="text-muted">ERC_721</h5>
                                </div>
                                <div class="text-end">
                                    <p class="mb-2">blockChain</p>
                                    <h5 class="text-muted">ETHEREUM</h5>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="browse-category section-padding border-top">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8">
                        <div class="section-title text-center">
                            <h2>Browse by category</h2>
                            <p>Here are a few reasons why you should choose Somsea</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <a th:href="@{/categories/2/collections}">
                        <div class="card browse-cat"><img class="img-fluid card-img-top" th:src="@{/static/images/items/9.jpg}"
                                alt="">
                            <div class="card-body">
                                <h4>Artwork</h4>
                            </div>
                        </div>
                        </a>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <a th:href="@{/categories/3/collections}">
                        <div class="card browse-cat"><img class="img-fluid card-img-top" th:src="@{/static/images/items/13.jpg}"
                                alt="">
                            <div class="card-body">
                                <h4>Collectibles</h4>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <a th:href="@{/categories/1/collections}">
                        <div class="card browse-cat"><img class="img-fluid card-img-top" th:src="@{/static/images/items/10.jpg}"
                                alt="">
                            <div class="card-body">
                                <h4>Games</h4>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <a th:href="@{/categories/4/collections}">
                        <div class="card browse-cat"><img class="img-fluid card-img-top" th:src="@{/static/images/items/11.jpg}"
                                alt="">
                            <div class="card-body">
                                <h4>Photography</h4>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    <div class="bottom section-padding triangle-top-dark triangle-bottom-dark">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-7 col-sm-8">
                    <div class="bottom-logo">
                        <p>SomSea is a unique and beautiful collection of UI elements that are all flexible and
                            modular. A
                            complete and customizable solution to building the website of your dreams.</p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-5 col-sm-4 col-6">
                    <div class="bottom-widget">
                        <h4 class="widget-title">About us</h4>
                        <ul>
                            <li><a th:href="@{/index}">Explore</a></li>
                            <li><a th:href="@{/nfts}">Item</a></li>
                            <li><a th:href="@{/collections}">Collection</a></li>
                            <li><a th:href="@{/user/add}">Connect</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="bottom-widget">
                        <h4 class="widget-title">Settings</h4>
                        <ul>
                            <li><a href="./settings.html">Settings</a></li>
                            <li><a href="./application.html">Application</a></li>
                            <li><a href="./security.html">Security</a></li>
                            <li><a href="./activity.html">Activity</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-8 col-sm-8">
                    <div class="bottom-widget">
                        <h4 class="widget-title">Profile</h4>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <ul>
                                    <li><a href="./profile.html">Profile</a></li>
                                    <li><a href="./created.html">Created</a></li>
                                    <li><a href="./collected.html">Collected</a></li>
                                    <li><a href="./activity.html">Activity</a></li>
                                </ul>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <ul>
                                    <li><a href="./onsale.html">On Sale</a></li>
                                    <li><a href="./liked.html">Liked</a></li>
                                    <li><a href="./following.html">Following</a></li>
                                    <li><a href="./followers.html">Followers</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="copyright">
                        <p>© Copyright 2022 <a href="#">SomSea</a> <!-- -->All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="footer-social">
                        <ul>
                            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                            <li><a href="#"><i class="bi bi-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <th:block th:replace="footer :: footerFragment"></th:block>
    <script type="text/javascript" th:src="@{./static/vendor/magnific-popup/magnific-popup.js}"></script>
    <script type="text/javascript" th:src="@{./static/js/plugins/magnific-popup-init.js}"></script>
</body>

</html>