<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Somesea - Nft Marketplace</title>
    
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/static/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
</head>

<body class="@@dashboard">

<div id="preloader"><i>.</i><i>.</i><i>.</i></div>

<div class="authincation section-padding">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-xl-4 col-md-5">
                <div class="mini-logo text-center my-3">
                    <h4 class="card-title mt-5">Bidding</h4>
                </div>
                <div class="auth-form card">
                    <div class="card-body">
                        <form class="row g-3" th:action th:object="${biddingDto}" method="post">
                            <div class="col-12"><label class="form-label">Enter Price</label>
	                            <input type="text" class="form-control" id="price" th:field="*{price}">
	                            <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color: red"></p>
                            </div>
                            <div class="text-center mt-4"><button type="submit"
                                    class="btn btn-primary btn-block">Submit</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="footer :: footerFragment"></th:block>

</body>

</html>