<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>입찰가를 입력하세요</title>
<script type = "text/javascript">

		var f= document.forms.popupForm2;
	    document.domain = "127.0.0.2"; //document.domain 값이 팝업과 부모창 동일해야 합니다.
	    opener.name = "parentPage2"; //유니크한 이름이어야 합니다.
	    f.target = opener.name;
	    f.submit();
	    self.close();
	
      /* function ppp() {
        opener.document.fm.addr1.value = document.getElementById('price').value;
        window.close();
      } */
    </script>
</head>
<body>
	<h3>입찰가 입력</h3>
    <!-- <p>Top Bid</p> -->
    <form th:action = "@{/nfts/bidding/add}" th:object="${biddingDto} name = "popupForm2" method = "post">
      <input type = "text" size = "40" name = "price" />
      <input type = "button" value = "확인"/>
    </form> 
</body>
</html>