<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NFT 조회</title>
    <style>
        tr {
            width: 100%;
            border: 1px solid;
        }
        th {
            width: 100%;
            border: 1px solid;
        }
    </style>
</head>

<body>

<table>
    <tr>
        <th>nftId</th>
        <th>title</th>
        <th>imageUrl</th>
        <th>token</th>
        <th>tokenStandard</th>
        <th>blockChain</th>
        <th>userId</th>
    </tr>
    <tr>
        <td th:text="${nft.nftId}"></td>
        <td th:text="${nft.title}"></td>
        <td th:text="${nft.imageUrl}"></td>
        <td th:text="${nft.token}"></td>
        <td th:text="${nft.tokenStandard}"></td>
        <td th:text="${nft.blockChain}"></td>
        <td th:text="${nft.userId}"></td>
    </tr>
</table>
<form th:action method="post">
    <input type="submit" value="삭제" />
</form>
</body>
</html>