<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="head :: headFragment"></th:block>

<body class="@@dashboard">
    <th:block th:replace="header :: headerFragment"></th:block>
        <div class="page-title">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-6">
                        <div class="page-title-content">
                            <h3>Nft 상세페이지</h3>
                            <p class="mb-2">Somsea Nft detail page</p>
                        </div>
                    </div>
                    <!-- <div class="col-auto">
                        <div class="breadcrumbs"><a href="#">Home </a><span><i
                                    class="ri-arrow-right-s-line"></i></span><a href="#">Payments</a></div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="item-single section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="top-bid">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                     <img th:src="|${nft.imageUrl}|" class="img-fluid rounded" alt="...">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <h4 class="text-sm mb-0"></i>Detail</h4>
                                                </div>
                                            </div>
                                            <hr class="my-3">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <h6 class="text-sm mb-0"></i>token</h6>
                                                </div>
                                                <div class="col-auto"><span class="text-sm" th:text="${nft.token}"></span></div>
                                            </div>
                                            <hr class="my-3">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <h6 class="text-sm mb-0">tokenStandard</h6>
                                                </div>
                                                <div class="col-auto"><span class="text-sm" th:text="${nft.tokenStandard}"></span></div>
                                            </div>
                                            <hr class="my-3">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <h6 class="text-sm mb-0">blockChain</h6>
                                                </div>
                                                <div class="col-auto"><span class="text-sm"th:text="${nft.blockChain}"></span></div>
                                            </div>
                                            <hr class="my-3">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <h6 class="text-sm mb-0">description</h6>
                                                </div>
                                                <div class="col-auto"><span class="text-sm"th:text="${nft.desc}"></span></div>
                                            </div>
                                            <hr class="my-3">
                                         </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="mb-3" th:text="${nft.title}">nft Title</h3>
                                        <div class="d-flex align-items-center mb-3">
                                            <div class="flex-grow-1">
                                            </div>
                                        </div>
                                        <div th:if="${auction != null}">
	                                        <div class="d-flex justify-content-between mt-4 mb-4">
	                                            <div class="text-start">
	                                                <h4 class="mb-2">Auction ends</h4>
	                                                <h5 class="text-muted" th:text="${auction.dueDate}">dudDate</h5>
	                                            </div>
	                                            <div class="text-end">
	                                                <h4 class="mb-2">Top Bid : <strong class="text-primary" th:text="${auction.topBid}">topBid</strong></h4>
	                                           
	                                            </div>
	                                        </div>
	                                        <div th:if="${userId} != ${nft.userId}">
		                                        <div th:if="${topBid != null}">
			                                        <div th:if="${auction.status.toString().equals('COMPLETED')} and ${userId} == ${topBid.user.id}">
			                                        	<form th:action="@{/nfts/{auctionId}/bidding/win(auctionId=${auction.id})}">
					                                        <label>
					                                        	<input type="submit" value="buy now">
			 		                                        </label>	
			                                       		</form>
			                                       	</div>
			                                       	<div th:unless="${auction.status.toString().equals('COMPLETED')} and ${userId} == ${topBid.user.id}">
			 		                                        <label th:if="${auction.status.toString().equals('COMPLETED')} and ${userId} != ${topBid.user.id}">
			 		                                        	<input type="button" value="Place a bid" disabled='disabled'>
			 		                                        </label>
			 		                                        <label th:unless="${auction.status.toString().equals('COMPLETED')} and ${userId} != ${topBid.user.id}">
			 		                                        	<input type="button" value="Place a bid" onClick="popup()">
			 		                                        </label>	
			                                        		
			                                        </div>
		                                        </div>
		                                       	<div th:unless="${topBid != null}">
		                                    		<div th:if="${auction.status.toString().equals('COMPLETED')}">
					                                   <label>
					                                      <input type="button" value="Place a bid" disabled='disabled'>
			 		                                   </label>	
			                                       	</div>
			                                       	<div th:unless="${auction.status.toString().equals('COMPLETED')}">
			 		                                    <label>
			 		                                       <input type="button" value="Place a bid" onClick="popup()">
			 		                                    </label>		
			                                        </div>
			                                     </div>
			                                  </div>
			                                  <div th:unless="${userId} != ${nft.userId}">
			                                  	<label>
					                            	<input type="button" value="Bid Completed" disabled='disabled'>
			 		                            </label>	
			                                  </div>
	                                          <h4 class="card-title mb-3">Offers</h4>
	                                          <div id ="offers">
										      <table id="offersTable" style="width: 850px">
										      <tr>
										         <th>Price</th>
										         <th>Floor Difference</th>
										         <th>Expiration</th>
										         <th>From</th>
										         <th></th>
										      </tr>
	                                    	 
	         								  	<tr th:if="${bidding != null and !bidding.isEmpty()}" th:each="bid : ${bidding}">
	         							
	         								  		<td th:text="${bid.price}">bidPrice</td>
	         								  		<td th:text="${bid.floorDifference}">floorDifference</td>
	         								  		<td th:text="${bid.expiration}">expiration</td>
	         								  		<td>
		         								  		<a href="#" th:href="@{/users/{userId}(userId=${bid.user.id})}" th:text="${bid.user.name}">
		         								  			userName
		         								  		</a>
		         								  	</td>
		         								  	<td th:if="${userId} == ${bid.user.id}"><a href="#" th:href="@{/nfts/{nftId}/bidding/{biddingId}/delete(nftId=${nft.nftId}, biddingId=${bid.id})}" style="color: red">X</a></td>
		         								  
	         								  	</tr>
	         								  	<tr th:unless="${bidding != null and !bidding.isEmpty()}">
	            									<td colspan="6">입찰 정보가 없습니다.</td>
	         									</tr>
	         								  	
	         								  </table>
	         								  </div>
	                                        <br/><br/>
	         								  <h4 class="card-title mb-3">Trade History</h4>
	         								  <div id ="trade">
										      <table id="tradeTable" style="width: 850px">
										      <tr>
										         <th></th>
										         <th>Price</th>
										         <th>From</th>
										      </tr>
	                                        				  
	         								  <tr th:if="${tradeHistory != null and !tradeHistory.isEmpty()}" th:each="trade,index : ${tradeHistory}">
	         							
	         								  	<td th:text="${index.index} + 1">index</td>
	         								  	<td th:text="${trade.amount}">tradePrice</td>
	         								  	<td>  
		         								  	<a href="#" th:href="@{/users/{userId}/(userId=${trade.user.id})}" th:text="${trade.user.name}">
		         								  	userName
		         								  	</a>
		         								</td>
	         								  </tr>
	         								 	
	         								 <tr th:unless="${tradeHistory != null and !tradeHistory.isEmpty()}">
	            								<td colspan="6">입찰 기록이 없습니다.</td>
	         								</tr>
	         								</table>
	         								</div>     
                                    	</div>
                                	</div>
                            	</div>
                        	</div>
                    	</div>
                	</div>
            	</div>
        	</div>
      	</div>
        <script type="text/Javascript">

            /* function popup1() {
                ocument.domain = "127.0.0.1";  //document.domain 값이 팝업과 부모창 동일해야 합니다
                window.open("/", "popup1", "width = 500px height = 200px left = 0px top = 0px");
            } */

            function popup() {
            	const nftId = [[${nft.nftId}]]
	            /* document.domain = "127.0.0.2";  *///document.domain 값이 팝업과 부모창 동일해야 합니다
	            window.open("/auctions/" + nftId + "/bidding/form", "popup", "width = 500px height = 200px left = 0px top = 0px");
            }
        </script>
    <th:block th:replace="footer :: footerFragment"></th:block>
</body>

</html>